.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-self: center;
  height: auto;
}

.titulo {
  font-size: 2rem;
  line-height: 1; 
  font-weight: bolder; 
  margin: 0;
}

.subtitulo {
  margin-top: 0.5rem; 
  font-size: 1.5rem;
  line-height: 2rem; 
  color: #6B7280; 
}

.buttons_cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
}

.link_boton, .new_boton {
  display: flex;
  width: fit-content;
  color: white; 
  border: 0px;
  background-color: var(--color-button); 
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5rem; 
  font-weight: 700; 
  transition: all, 0.3s;
  cursor: pointer; 
  border-radius: 0.5rem;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.new_boton {
  font-weight: 500;
  background-color: var(--color-letras2);
}

.link_boton:hover {
  background-color: var(--color-button-hover);
  scale: 1.01;
}

.new_boton:hover {
  background-color: var(--color-letras2-hover);
  scale: 1.01;
}

.list_container {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  margin-bottom: 6rem;
}

.category_container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 10px 15px -3px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #d9dad1;
  border: 0.5px solid rgb(234, 234, 234);
}

.category {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width: 100%;
}

.cat_name_side {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

@media (max-width: 576px) {
  .category {
    flex-direction: column-reverse;
  }

  .cat_name_side {
    padding-top: 0rem;
  }
}

.arrow {
  rotate: -90deg;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.opacity0 {
  opacity: 0;
  cursor: default;
  width: 0rem;
}

.arrow_active {
  rotate: 0deg;
}

.category_name {
  margin: 0 0 0 1rem;
  font-size: xx-large;
  line-height: 2rem;
  color: var(--color-letras1);
  transform: translateY(-0.25rem);
}

.pad {
  width: 100%;
}

.subCats_container {
  margin: 0.5rem;
  list-style: none;
  padding-inline-start: 0;
}

.subCategory_container {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 10px 15px -3px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: white;
  border: 0.5px solid rgb(234, 234, 234);
  border-radius: 0.25rem;
}

.prices_subCat_span {
  font-weight: 700;
  color: black;
}

.prices_subCat {
  font-size: large;
  font-weight: 500;
  color: var(--color-letras1);
  margin-top: 0rem;
}

@media (max-width: 576px) {
  .subCategory_container {
    flex-direction: column-reverse;
    padding-bottom: 1rem;
  }

  .price_menu {
    flex-direction: column-reverse;
  }
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: x-large;
  font-weight: 500;
  color: var(--color-letras1);
}

.input {
  font-size: large;
  padding: 0.25rem;
}

.price_size {
  display: flex;
  align-items: center;
}

.R {
  margin: 0rem;
  padding: 0rem;
  color: black;
  font-size: large;
  transform: translateY(2px);
}

.input_number {
  font-size: large;
  padding: 0.25rem;
  width: 4rem;
  transform: translateY(3px);
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.modal_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.modal_button {
  width: 5rem;
  cursor: pointer;
}

.no_categ {
  align-self: center;
}