.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-self: center;
}

.titulo {
  font-size: 2rem;
  line-height: 1; 
  font-weight: bolder; 
  margin: 0;
}

.subtitulo {
  margin-top: 0.5rem; 
  font-size: 1.5rem;
  line-height: 2rem; 
  color: #6B7280; 
}

.link_boton {
  display: flex;
  width: fit-content;
  color: white; 
  background-color: var(--color-button); 
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 700; 
  transition: all, 0.3s;
  cursor: pointer; 
  border-radius: 0.5rem;
}

.link_boton:hover {
  background-color: var(--color-button-hover);
  scale: 1.01;
}

.list_container {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding-inline-start: 0;
}

.user_container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 10px 15px -3px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #d9dad1;
  border: 0.5px solid rgb(234, 234, 234);
}

.user {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width: 100%;
}

.user_name {
  margin: 0 0 0 2rem;
  font-size: xx-large;
  line-height: 2rem;
  color: var(--color-letras1);
  transform: translateY(-0.25rem);
}

.nav_link {
  margin-bottom: 2rem;
}

.container_form {
  margin-top: 2rem;
  width: 40%;
  justify-self: center;
}

@media (max-width: 1200px) {
  .container_form {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .container_form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container_form {
    width: 90%;
  }
}